<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <connectionStrings>
    <add name="UserDataConnectionString2" connectionString="Data Source=LENOVO-PC\SQLSERVER;Initial Catalog=UserData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="OnlineDeliveryConnectionString" connectionString="Data Source=LENOVO-PC\SQLSERVER;Initial Catalog=UserData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="UserDataConnectionString" connectionString="Data Source=LENOVO-PC\SQLSERVER;Initial Catalog=UserData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="OnlineDeliveryServer" connectionString="Data Source=DESKTOP-GASLAAQ;Initial Catalog=UserData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="UserDataConnectionString3" connectionString="Data Source=DESKTOP-9FPJ0L5;Initial Catalog=UserData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>

    <system.web>
      <compilation debug="true"  targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />


    </system.web>

</configuration>
